[run]
omit =
    *flask_restful*
    *_bootlocale.py                
    *encodings\cp1252.py
    *pycache*
    *sqlalchemy*
    *numbers*
    *decimal*
    *unittest*
    *werkzeug*
    *psycopg2*
    *asyncio*
    *concurrent*
    *ctypes*
    *encodings*
    *jwt*
    *jinja2*
    *itsdangerous.py*
    *_bootlocale.py*
    *fractions.py*
    *hmac.py*
    *html*
    *http*
    *mimetypes.py*
    *multiprocessing*
    *click*
    *colorama*
    *cryptography*
    *flask*
    *itsdangerous.py *
    *markupsafe*
    *six.py *
    *cryptography*
    *flask*
    *itsdangerous.py*
    *markupsafe*
    *six.py*
    *stringprep.py*
    *typing.py*
    *uuid.py* 
    *pytz*
    *pyasnl*
    *dateutil*
    *aniso8601*
    *wtforms*


[report]
omit =
    *flask_restful*
    *sqlalchemy*
    *numbers*
    *decimal*
    *unittest*
    *sqlite*
    *werkzeug*
    *psycopg2*
    *asyncio*
    *concurrent*
    *ctypes*
    *encodings*
    *jwt*
    *jinja2*
    *_bootlocale.py*
    *fractions.py*
    *hmac.py*
    *html*
    *http*
    *mimetypes.py*
    *multiprocessing*
    *click*
    *colorama*
    *cryptography*
    *flask*
    *itsdangerous.py*
    *markupsafe*
    *six.py*
    *stringprep.py*
    *typing.py*
    *uuid.py*      
    *pytz*
    *pyasnl*
    *dateutil*
    *aniso8601*
    *wtforms*



[post]
omit =
    *flask_restful*
    *_bootlocale.py                
    *encodings\cp1252.py
    *pycache*
    *sqlalchemy*
    *numbers*
    *decimal*
    *unittest*
    *werkzeug*
    *psycopg2*
    *asyncio*
    *concurrent*
    *ctypes*
    *encodings*
    *jwt*
    *jinja2*
    *itsdangerous.py*
    *_bootlocale.py*
    *fractions.py*
    *hmac.py*
    *html*
    *http*
    *mimetypes.py*
    *multiprocessing*
    *click*
    *colorama*
    *cryptography*
    *flask*
    *itsdangerous.py *
    *markupsafe*
    *six.py *
    *cryptography*
    *flask*
    *itsdangerous.py*
    *markupsafe*
    *six.py*
    *stringprep.py*
    *typing.py*
    *uuid.py* 
    *pytz*
    *pyasnl*
    *dateutil*
    *aniso8601*
    *wtforms*